<p class="bg-slate-300 rounded-lg py-2 px-4 text-slate-900 italic">
  <span class="font-bold">Vendeuse : </span>
  {{ message }}
</p>

<!-- choix de l'utilisateur -->
<div class="bg-slate-500 my-8 w-7/12 py-2 px-4 rounded-lg">
  <h2 class="text-2xl text-slate-900 font-bold mb-4">Résumé</h2>
  <ul>
    <li
      class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
    >
      <span>Petite potion de vie</span>
      <span>x {{ inventory.quantity?.sante?.petite }}</span>
    </li>
    <li
      class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
    >
      <span>Grande potion de vie</span>
      <span>x {{ inventory.quantity?.sante?.grande }}</span>
    </li>
    <li
      class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
    >
      <span>Elixir de vie</span>
      <span>x {{ inventory.quantity?.sante?.elixir }}</span>
    </li>
    <li
      class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
    >
      <span>Petite potion de magie</span>
      <span>x {{ inventory.quantity?.mana?.petite }}</span>
    </li>
    <li
      class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
    >
      <span>Grande potion de magie</span>
      <span>x {{ inventory.quantity?.mana?.grande }}</span>
    </li>
    <li
      class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
    >
      <span>Elixir de magie</span>
      <span>x {{ inventory.quantity?.mana?.elixir }}</span>
    </li>
  </ul>

  <button
    class="mt-4 py-2 px-4 bg-red-400 w-full flex items-center font-bold border-2 border-red-900 justify-around rounded-lg shadow-lg mb-4 disabled:cursor-not-allowed disabled:bg-gray-400"
    [disabled]="desactivatedBTN"
  >
    Payer la somme de {{ price }}
    <img
      src="https://www.svgrepo.com/show/205790/coin.svg"
      alt=""
      class="size-8"
    />
  </button>
</div>

<!-- Personnage -->
<img
  src="../assets/klipartz.com.png"
  alt=""
  class="h-[640px] absolute right-[-200px] bottom-[-120px]"
/>
