<header class="h-24 bg-slate-900 flex items-center row-span-1">
  <div class="flex items-center flex-auto">
    <img
      src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fb5e4452-9319-4d2c-9654-42eca98eecd5/dg9lnke-f172bd88-6543-4de5-a66d-a3bf4ac1f3c4.png/v1/fill/w_400,h_400,q_80,strp/avatar___black_mage_by_ligayaai_dg9lnke-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZiNWU0NDUyLTkzMTktNGQyYy05NjU0LTQyZWNhOThlZWNkNVwvZGc5bG5rZS1mMTcyYmQ4OC02NTQzLTRkZTUtYTY2ZC1hM2JmNGFjMWYzYzQucG5nIiwiaGVpZ2h0IjoiPD00MDAiLCJ3aWR0aCI6Ijw9NDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cL2ZiNWU0NDUyLTkzMTktNGQyYy05NjU0LTQyZWNhOThlZWNkNVwvbGlnYXlhYWktNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.pcnYVyjTt9_2kf_Wm4_BYrn9JhHsaIrTiegGT8AqFcA"
      alt=""
      class="rounded-full size-20 ml-4 border-4 border-slate-100"
    />
    <div class="flex flex-col mx-6">
      <span class="text-slate-100 font-bold text-lg uppercase">Nom</span>
      <span class="text-slate-300 font-light text-sm italic">Race</span>
    </div>
    <div class="flex gap-x-2 items-center">
      <span class="text-yellow-400 text-2xl">121231</span>
      <img
        src="https://www.svgrepo.com/show/205790/coin.svg"
        alt=""
        class="size-12"
      />
    </div>
  </div>
  <div class="flex items-center mr-4 gap-x-4">
    <span class="text-4xl text-slate-100 opacity-75">niveau</span>
    <span class="text-7xl font-bold text-slate-100 opacity-35">1699</span>
  </div>
</header>

<!-- MAIN -->
<main class="bg-slate-100 pt-12 pb-32 px-24 row-span-2">
  <h1 class="text-6xl font-black mb-8">Shopping</h1>

  <!-- Container boutique -->
  <div class="flex flex-auto w-full flex-nowrap gap-x-12 divide-x-2">
    <!-- Contenu boutique -->
    <div class="w-7/12">
      <table class="border border-collapse shadow-md my-8 w-full">
        <thead>
          <tr>
            <th class="border py-2 px-4 bg-slate-900 text-slate-100">
              Désignation
            </th>
            <th class="border py-2 px-4 bg-slate-900 text-slate-100">Gold</th>
            <th class="border py-2 px-4 bg-slate-900 text-slate-100">
              Quantités
            </th>
            <th class="border py-2 px-4 bg-slate-900 text-slate-100">
              Sélection
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left border py-2 px-4">Petite Potion de vie</td>
            <td
              class="text-center border py-2 px-4 flex items-center justify-around"
            >
              100
              <img
                src="https://www.svgrepo.com/show/205790/coin.svg"
                alt=""
                class="size-8"
              />
            </td>
            <td class="text-center border py-2 px-4">
              <button
                class="py-1 px-2 shadow-sm bg-zinc-600 text-slate-100 font-black text-center rounded-lg w-full"
              >
                + 1
              </button>
            </td>
            <td class="text-center border py-2 px-4">0</td>
          </tr>
          <tr>
            <td class="text-left border py-2 px-4">Grande Potion de vie</td>
            <td
              class="text-center border py-2 px-4 flex items-center justify-around"
            >
              500
              <img
                src="https://www.svgrepo.com/show/205790/coin.svg"
                alt=""
                class="size-8"
              />
            </td>
            <td class="text-center border py-2 px-4">
              <button
                class="py-1 px-2 shadow-sm bg-zinc-600 text-slate-100 font-black text-center rounded-lg w-full"
              >
                + 1
              </button>
            </td>
            <td class="text-center border py-2 px-4">0</td>
          </tr>
          <tr class="border">
            <td class="text-left border py-2 px-4">Elixir de vie</td>
            <td
              class="text-center border py-2 px-4 flex items-center justify-around"
            >
              1000
              <img
                src="https://www.svgrepo.com/show/205790/coin.svg"
                alt=""
                class="size-8"
              />
            </td>
            <td class="text-center border py-2 px-4">
              <button
                class="py-1 px-2 shadow-sm bg-zinc-600 text-slate-100 font-black text-center rounded-lg w-full"
              >
                + 1
              </button>
            </td>
            <td class="text-center border py-2 px-4">0</td>
          </tr>
          <tr>
            <td class="text-left border py-2 px-4">Petite Potion de mana</td>
            <td
              class="text-center border py-2 px-4 flex items-center justify-around"
            >
              250
              <img
                src="https://www.svgrepo.com/show/205790/coin.svg"
                alt=""
                class="size-8"
              />
            </td>
            <td class="text-center border py-2 px-4">
              <button
                class="py-1 px-2 shadow-sm bg-zinc-600 text-slate-100 font-black text-center rounded-lg w-full"
              >
                + 1
              </button>
            </td>
            <td class="text-center border py-2 px-4">0</td>
          </tr>
          <tr>
            <td class="text-left border py-2 px-4">Grande Potion de vie</td>
            <td
              class="text-center border py-2 px-4 flex items-center justify-around"
            >
              1000
              <img
                src="https://www.svgrepo.com/show/205790/coin.svg"
                alt=""
                class="size-8"
              />
            </td>
            <td class="text-center border py-2 px-4">
              <button
                class="py-1 px-2 shadow-sm bg-zinc-600 text-slate-100 font-black text-center rounded-lg w-full"
              >
                + 1
              </button>
            </td>
            <td class="text-center border py-2 px-4">0</td>
          </tr>
          <tr>
            <td class="text-left border py-2 px-4">Elixir de mana</td>
            <td
              class="text-center border py-2 px-4 flex items-center justify-around"
            >
              2000
              <img
                src="https://www.svgrepo.com/show/205790/coin.svg"
                alt=""
                class="size-8"
              />
            </td>
            <td class="text-center border py-2 px-4">
              <button
                class="py-1 px-2 shadow-sm bg-zinc-600 text-slate-100 font-black text-center rounded-lg w-full"
              >
                + 1
              </button>
            </td>
            <td class="text-center border py-2 px-4">0</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="3" class="text-right pr-4 border">Total à payer</th>
            <td class="text-center font-black py-2 px-4 border">0 gold</td>
          </tr>
        </tfoot>
        <caption
          align="bottom"
          class="italic text-right mt-2 mr-2 text-sm text-slate-400"
        >
          Découverte des services sur Angular via une mini application
          permettant de simuler une boutique dans un jeu vidéo.
        </caption>
      </table>
    </div>

    <!-- Vendeur boutique -->
    <div class="relative w-5/12 p-8 bg-slate-900 rounded-lg">
      <p class="bg-slate-300 rounded-lg py-2 px-4 text-slate-900 italic">
        <span class="font-bold">Vendeuse : </span>
        Bonjour, vous avez-vous besoin d'un article en particulier ?
      </p>

      <!-- choix de l'utilisateur -->
      <div class="bg-slate-500 my-8 w-7/12 py-2 px-4 rounded-lg">
        <h2 class="text-2xl text-slate-900 font-bold mb-4">Résumé</h2>
        <ul>
          <li
            class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
          >
            <span>Petite potion de vie</span>
            <span>x Quantité</span>
          </li>
          <li
            class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
          >
            <span>Petite potion de vie</span>
            <span>x Quantité</span>
          </li>
          <li
            class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
          >
            <span>Petite potion de vie</span>
            <span>x Quantité</span>
          </li>
          <li
            class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
          >
            <span>Petite potion de vie</span>
            <span>x Quantité</span>
          </li>
          <li
            class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
          >
            <span>Petite potion de vie</span>
            <span>x Quantité</span>
          </li>
          <li
            class="flex justify-between py-2 px-4 border border-slate-900 bg-slate-100 rounded-md mb-2"
          >
            <span>Petite potion de vie</span>
            <span>x Quantité</span>
          </li>
        </ul>

        <button
          class="mt-4 py-2 px-4 bg-red-400 w-full flex items-center font-bold border-2 border-red-900 justify-around rounded-lg shadow-lg mb-4"
        >
          Payer la somme de xxxxxx

          <img
            src="https://www.svgrepo.com/show/205790/coin.svg"
            alt=""
            class="size-8"
          />
        </button>
      </div>

      <!-- Personnage -->
      <img
        src="../assets/klipartz.com.png"
        alt=""
        class="h-[640px] absolute right-[-180px] bottom-[-120px]"
      />
    </div>
  </div>
</main>
